.container {
    margin-top: 1rem;

    &__link {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: start;
        /**********************************************/
        align-items: end;
        /**********************************************/
        // position: relative;
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }

    &__grid {
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        padding: 1rem 0;
        margin: auto;
        width: 90%;
        background-color: $color-secondaire;
        display: flex;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
        border-radius: 25px;

    }

    &__cart {
        display: flex;
        justify-content: start;
        /**********************************************/
        align-items: end;
        /**********************************************/
        // position: relative;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        position: relative;
    }

    &__txt {
        text-decoration: none;
        padding-left: 1rem;
        width: 40%;
        // position: absolute;
        // width: 40%;
        // top: 13rem;
        color: white;
        // left: 1rem;
        position: absolute;
        font-weight: 500;

    }

    &__img {
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .container {

        &__grid {
            gap: 1rem;
            background-color: transparent;
        }

        &__cart {
            width: 100%;
            // width: 80%;
            // height: 180px;
        }

        // &__txt {
        //         // position: relative;
        //         // top: 7rem;
        //     }
    }
}